
.graphic__prose .trigger,
.graphic2__prose .trigger2 {
  padding: 20px;
  margin: 0;
  min-height: 240px;
  height: 50vh;
}

.graphic__vis,
.graphic2__vis {
  position: absolute;
  top: 0;
  margin-left: 40vw;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  height: 100vh;
  width: 60vw;
  padding-right: 20px;
  padding-left: 20px;
  z-index: 400;
}

.graphic__vis.graph-scroll-fixed,
.graphic2__vis.graph-scroll-fixed {
  position: fixed;
  right: auto;
}
